.w-450{
    width: 500px;
}
.pos{
   
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top:250px;

}
.heading{
    text-align: center;
    font-size: 2rem;
}
.box{
    height:400px;
    width: 400px;
    border:2px solid red;
    color: aquamarine;
    box-shadow: 2px 3px 3px red;
    
}